#div1{


}
button{
	width: 100px;
	height: 100px;
	background-color: rgba(37,23,37,0.5);
	color:white;
	font-size: xx-large;

}
#X{
	float: left;
	margin-left: 20px;
	padding: 10px;
    border : 2px solid black;
    border-radius: 20px;
	background-color: rgba(255,0,0,0.7);
}
#Y{
	float: right;
	margin-right: 20px;
	padding: 10px;
    border : 2px solid black;
    border-radius: 20px;
	background-color: white;
}
#btn{
    width: 150px;
	height: 80px;
	margin-right: 20px;
	padding: 10px;
    border : 2px solid black;
    border-radius: 20px;
	background-color: rgba(0,28,0,0.8);
	color: white;


}
#result{
	
	color: white;
}
#body{
	background-color: #1BD6B9;
}
